services:
  bookmarkfront:
    image: bookmarkfront
    build:
      context: ./BookmarkFront/
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 5173:5173
  
  bookmarkapi:
    image: bookmarkapi
    build:
      context: ./BookmarkAPI/
      dockerfile: ./Dockerfile
    depends_on:
      - mongo
    environment:
      - ConnectionStrings__MongoDbConnect=mongodb://root:example@mongo:27017/?authSource=admin
      - ASPNETCORE_URLS=http://0.0.0.0:5225
    ports:
      - 5225:5225

  mongo:
    image: mongodb/mongodb-community-server:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
    - mongo_data:/data/db

volumes:
  mongo_data: